<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>登录</title>
</head>
<style type="text/css">
	.register{width:500px;min-height:300px;border:1px solid #ccc;background:pink;padding:20px;margin-top:3rem;margin-left:10rem;font-size:16px;font-weight:bold;}
	.register-title{margin-left:12rem;}
	.sub{margin-left:10rem;}
</style>
<body>
<div class="register">
<form action="login" method="post">
<a href="register">注册登录</a>
	<table class="add">
		<p class="register-title">登录</p>
		<p>用户名：</p>
		<p><input type="text" name="name" placeholder="用户名/邮箱/手机号"></p>
		<p>密码：</p>
		<p><input type="password" name="pwd" placeholder="请输入密码"</p>
		<p class="sub"><input type="submit" value="登录"></p>
	</table>
</form>
</div>
</body>
</html>