<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
<center>
    <table border="1">
        <h1>列表展示</h1>
        <a href="order.html">添加购物车</a>
        <tr>
            <td>商品id</td>
            <td>商品名称</td>
            <td>商品价格</td>
            <td>商品简介</td>
            <td>商品排序</td>
            <td>商品图片</td>
            <td>商品数量</td>
            <td>操作</td>
            <td>购物车</td>
        </tr>
        <?php foreach ($data as $key=>$val) { ?>
        <tr>
            <td><?=$val['id']?></td>
            <td><?=$val['goods_name']?></td>
            <td><?=$val['goods_sprice']?></td>
            <td><?=$val['goods_content']?></td>
            <td><?=$val['goods_sort']?></td>
            <td><img src="__ROOT__/uploads/<?=$val['goods_img']?>" alt="" width="100px" height="100px"></td>
            <td><?=$val['goods_number']?></td>
            <td><a href="del?id={$val.id}">删除</a>||<a href="upload"?id="{$val.id}">修改</a></td>
            <td><a href="cart/?id=<?=$val['id']?>">加入购物车</a></td>
        </tr>
        <?php  }  ?>
    </table>
</center>
</body>
</html>